.git/
**/bin/
**/obj/
**/node_modules/
fe/dist/
listenarr.api/tools/
listenarr.api/wwwroot/assets/
listenarr.api/wwwroot/index.html
listenarr.api/wwwroot/*.map
artifacts/
listenarr.api/publish/
publish/
publish_local_test/
publish_test*/
